Determine the types of the below-given variables:  
>Age : int 
>Salary : float  
>Income : float  
>Customer type : object  
>Stock price :  float

Using the movie data, we have studied in this lesson. Complete the following tasks:    
-Select a variable from the movie dataset and discuss the variable type of this variable  
-Categorize a variable of your choice and assign a name to it  
-Count the number of rows for each category

In [31]:
import pandas as pd
import numpy as np
movie = pd.read_csv("https://bootrain-lms-assets.s3.eu-central-1.amazonaws.com/bootrain-lms-static/datasets/movie.csv")

In [44]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
 28  duration_grup              5043 non-null   int64
dtypes: float64(13), int64(4), object(12)
memory usage: 1.1+ MB

In [45]:
#Categorize a variable of your choice and assign a name to it  
def make_discrete(duration):
    if duration < 160:
        return 1
    elif (duration > 160) and (duration < 170):
        return 2
    elif (duration > 170):
        return 3
    else:
        return 0
    



movie['duration_grup'] = movie['duration'].apply(make_discrete)

movie[['duration','duration_grup']]

      duration  duration_grup
0        178.0              3
1        169.0              2
2        148.0              1
3        164.0              2
4          NaN              0
...        ...            ...
5038      87.0              1
5039      43.0              1
5040      76.0              1
5041     100.0              1
5042      90.0              1

[5043 rows x 2 columns]

Is it possible to convert categorical variable into numerical one? If so, how can you make that?
>Each object category can be assigned an int value

While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.